<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UIDIA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>

    body{
      max-height: 100%;
    }
    
    .states{
      fill: #fff;
      stroke: #000;
    }

    /* .states :hover {
      fill: #28a745;
    } */

    .state-borders {
      fill: none;
      stroke: #000;
      stroke-width: 0.7px;
    }

  .loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
  }
    </style>
  </head>
  
<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="fluid-container py-2 px-4">
    <div class="loader">
      <img class="loading-image" src="./img/loader.gif" alt="loading..">
    </div>
    <div class=row>
      <div class='col-md-7'>
        <div id="chart"></div>
      </div>
      <div class='col-md-5 pt-2'>
          <table id="aadhaar_table" class="table table-bordered table-success table-striped" cellspacing="0" width="100%">
          </table>
      </div>
    </div> 
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="js/d3.geo.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script>    
    $('body').tooltip({selector: '[title],[data-title],[data-original-title]', container: 'body', html: true, animated: 'fade'})

    var w = 600;
    var h = 600;
    var proj = d3.geo.mercator()
    .scale(6700)
    .translate([-1240, 750]);

    var path = d3.geo.path().projection(proj);

    var rateById = d3.map();

    var svg = d3.select("#chart")
    .append("svg")
    .attr("width", w)
    .attr("height", h)

    var map = svg.append("g").attr("class", "states")

    var colorRamp = ['#ffbf80','#e67300']; 

    $(document).ready(function(){
      $.ajax({
        type: 'GET',
        url: '/data',
        beforeSend: function(){
          $('.loader').show()
        },
      })
      .done(function(data){

        _.each(data['response'], function(d){ rateById.set(d.State, +d.Aadhaar_Count)});
        max = _.max(_.map(data['response'], function(d){ return parseInt(d.Aadhaar_Count); }))
        console.log(max)
        
        var color = d3.scaleLinear()
        .domain([0, max])
        .range(colorRamp);

        var table_data = _.map(data['response'], function(d){ return [d.State, d.Population, d.Aadhaar_Count] });

        $("#aadhaar_table").DataTable({
          data: table_data,
          // bPaginate: false,
          bInfo: false,  
          pageLength: 10,
          lengthChange: false,
          columns: [
            {title: "STATE NAME"},
            {title: "POPULATION"},
            {title: "UIDIA COUNT"},
          ],
          order: false,
        })

      d3.json("data/india.json", function(json){
        map.selectAll("path")
        .data(topojson.feature(json, json.objects.polygons).features)
        .enter().append("path")
        .attr("d", path)
        .transition().duration(1000)
        .style("fill", function(d) { return color(rateById.get(d.properties.st_nm))})
        .attr('data-placement', 'right')
        .attr('data-toggle', 'popover')
        .attr('data-title', function(d){
          return d.properties.st_nm.toUpperCase() + ' : '+ rateById.get(d.properties.st_nm)
        })
      
        svg.append("path")
          .attr("class", "state-borders")
          .attr("d", path(topojson.mesh(json, json.objects.polygons, function(a, b) { return a !== b; })));
      });

      $('.loader').hide()

      })
      .fail(function(error){
        console.log(error);
      })
    });

    // d3.queue()
    //   .defer(d3.json, "data/india.json")
    //   // .defer(d3.csv, "data/aadhaar_data.csv")
    //   // .defer(d3.request, "/data")
    //   .await(ready);
  </script>
</body>
</html>