<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UIDIA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <style>
      #insights{
        position: relative;
        margin: auto;
        margin-top: 20%;
        width: 50%;
        max-width: 100%;
        max-height: 100%;
      }
    </style>
  </head>

<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="fluid-container py-2 px-4">
    <div class="loader">
      <img class="loading-image" src="./img/loader.gif" alt="loading..">
    </div>
    <div class=row>
      <div class='col-md-6'>
        <div class="card-deck">
          <div class="card">
            <div class="card-header bg-white d-flex justify-content-between">
              <h5 class="card-title my-0">Aadhaar Distribution</h5>
            </div>
            <div class="card-body">
              <div id="chart"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class='col-md-6 pl-4 pt-2'>
        <table id="aadhaar_table" class="table table-bordered table-success table-striped" cellspacing="0" width="100%">
        </table>
      </div> -->
      <div class='col-md-6'>
        <div class="card-deck d-flex" id="insights">
          <div class="card">
            <div class="card-header bg-white d-flex justify-content-between">
              <h5 class="card-title my-0">Aadhaar Insights</h5>
            </div>
            <div class="card-body">
              <p>Aadhaar applications percentage is 93.07%</p>
              <p>91.76% of aadhaar were approved by UIDIA</p>
              <p>1925/3736 of population have provided contact details</p>
              <p>65.88% men and 34.12% women have applied for aadhaar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="js/d3.geo.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src='./js/map.js'></script>
</body>
</html>
