<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UIDIA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>

    body{
      max-height: 100%;
    }
    
    .states{
      fill: #fff;
      stroke: #000;
    }

    .state-borders {
      fill: none;
      stroke: #000;
      stroke-width: 0.7px;
    }

    .loading-image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
    }
    </style>
  </head>
  
<body>
  {% set base = '.' %}
  {% include template-navbar.html %}
  <div class="fluid-container py-2 px-4">
    <div class="loader">
      <img class="loading-image" src="./img/loader.gif" alt="loading..">
    </div>
    <div class=row>
      <div class='col-md-7'>
        <div id="chart"></div>
      </div>
      <div class='col-md-5 pt-2'>
          <table id="aadhaar_table" class="table table-bordered table-success table-striped" cellspacing="0" width="100%">
          </table>
      </div>
    </div> 
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="js/d3.geo.min.js"></script>
  <script src="https://d3js.org/topojson.v2.min.js"></script>
  <script src='./js/map.js'></script>
</body>
</html>