<nav class="navbar navbar-expand-lg navbar-dark bg-success py-2">
  <a class="navbar-brand" href="{{ base }}">
    <img height="30" src="./img/logo.png" alt="Logo">
    <span class="text-uppercase h5 pt-1">UIDAI-INDIA</span>
  </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <span class="nav-item nav-link active text-uppercase h4 mb-0">AADHAAR CARD - INDIA</span>
    </div>
  </div> -->
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <div id="google_translate_element"></div>
      </li>
    </ul> -->
  </div>
</nav>
